@import url(https://fonts.googleapis.com/css?family=Karla);
@import url(https://fonts.googleapis.com/css?family=Markazi+Text);

body {
  margin: 0;
  font-family: Karla;
  font-size: 16pt;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* My styles start here */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-end: 0.2em;
}

span {
  font-family: Karla;
  font-size: 16pt;
  font-weight: normal;
}

.title {
  font-family: "Markazi Text";
  font-size: 64pt;
  /* Medium */
  font-weight: 500;
  margin-block-end: 0;
}

.sub-title {
  font-family: "Markazi Text";
  font-size: 40pt;
  font-weight: normal;
  margin-block-start: 0;
  line-height: 80%;
}

.sub-sub-title {
  font-family: "Markazi Text";
  font-size: 24pt;
  font-weight: normal;
  margin-block-start: 0;
  line-height: 80%;
}

.lead-text {
  font-family: Karla;
  font-size: 18pt;
  /* Medium */
  font-weight: 500;
}

.section-title {
  font-family: Karla;
  font-size: 20pt;
  /* Extra Bold */
  font-weight: 800;
  text-transform: uppercase;
}

.section-category {
  font-family: Karla;
  font-size: 16pt;
  /* Extra Bold */
  font-weight: 800;
  color: black;
}

.card-title {
  font-family: Karla;
  font-size: 18pt;
  font-weight: bold;
}

p,
.paragraph {
  font-family: Karla;
  font-size: 16pt;
  font-weight: normal;
  line-height: 110%;
  margin-block-end: 0.4em;
}

.highlight {
  font-family: Karla;
  font-size: 16pt;
  /* Medium */
  font-weight: 500;
}

.highlight-bg {
  font-family: "Markazi Text";
  font-size: 22pt;
  /* Medium */
  font-weight: 500;
  line-height: 80%;
}

.primary-yellow {
  color: #F4CE14;
}

.bg-primary-yellow {
  background-color: #F4CE14;
}

.bg-primary-green {
  background-color: #495E57;
}

.highlight-soft-peach {
  color: #EDEFEE;
}

.bg-highlight-soft-peach {
  background-color: #EDEFEE;
}

.peach-puff {
  color: #FBDABB;
}

.bg-peach-puff {
  background-color: #FBDABB;
}

.highlight-dune {
  color: #333333;
}

.bg-highlight-dune {
  background-color: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

a {
  /* Remove underlines */
  text-decoration: none;
}

/* Styles for social media icons in Footer
   and for bicycle icon in the Specials */
img.footer-social-icon,
img.bicycle-icon {
  width: 16px;
  position: relative;
  top: 2px;
}

/* Header: navigation links (excluding burger menu)
   Footer: navigation and social media links */
header>nav>ul,
footer ul {
  /* No bullet symbols */
  list-style-type: none;
}

header>nav>a>img {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Call to action buttons and cards */
.card,
.button,
.submit-button,
.submit-button-invalid {
  border-radius: 16px;
}

.button,
.submit-button,
.submit-button-invalid {
  padding: 8px 16px;
  margin-bottom: 12px;
  font-family: Karla;
  font-size: 18pt;
  font-weight: bold;
  cursor: pointer;
}

a.button-primary:link,
a.button-primary:visited,
.submit-button {
  color: black;
  background-color: #F4CE14;
  box-shadow: 0 8px #999;
}

.submit-button-invalid {
  color: #00000080;
  background-color: #F4CE1480;
  box-shadow: 0 8px #99999980;
  cursor: auto;
}

a.button-primary:hover,
.submit-button:hover {
  background-color: #EE9972;
  box-shadow: 0 8px #666;
}

a.button-primary:active,
.submit-button:active {
  background-color: #EE9972;
  box-shadow: 0 8px #666;
  transform: translateY(4px);
}

.dish-card {
  overflow: hidden;
  background-color: #FBDABB;
  padding-bottom: 20px;
}

/* Reservation form styles */
.form-container {
  display: grid;
  justify-content: stretch;
  gap: 20px;
  max-width: 300px;
}

.form-container>*,
.input-container>* {
  min-width: 0;
}

.input-container {
  display: grid;
  gap: 5px;
  min-width: 0;
}

.input-field,
.input-field-invalid {
  font-family: Karla;
  font-size: 16pt;
  font-weight: normal;
  height: 28px;
  vertical-align: middle;
  padding: 2px 5px;
  border-radius: 8px;
  border-width: 4px;
  border-color: black;
}

input[type="textarea"] {
  height: 4em;
}

.input-field-invalid {
  border-color: red;
}

/* Make the timeslots occupy the same space*/
.input-field[name="time"]>option,
.input-field-invalid[name="time"]>option {
  font-family: monospace;
}

.submit-button,
.submit-button-invalid {
  border-width: 0;
  justify-self: start;
}

.input-label,
.checkbox-label {
  color: auto;
}

.checkbox-label {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  justify-content: start;
}

.input-error {
  color: red;
}

.input-field-set {
  padding: 10px;
}

legend {
  white-space: normal;
  width: auto;
  display: inline-block;
  min-width: 0;
}

/* Page layout */
/* 0. Very large screen size (at least 880px wide) */
/* Center the content on the page using .container and .content */
/* .container extends the entire width of the screen. */
.container {
  display: grid;
  grid-template-columns: 1fr 880px 1fr;
  column-gap: 0;
  background-color: #FFFFFF;
  align-items: start;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}

/* .content occupies the center of the screen.*/
.content {
  display: grid;
  grid-column: 2;
  column-gap: 20px;
  row-gap: 20px;
}

.content * {
  overflow-wrap: anywhere;
}

/* Header */
.page-header {
  row-gap: 0;
  padding: 0;
}

.page-header>nav {
  display: grid;
  grid-template-columns: minmax(25%, auto) 1fr;
  align-items: center;
  /* Make second row invisible, also remove row-gap */
  grid-template-rows: auto 0 0;
  row-gap: 0;
}

.page-header>nav>a {
  grid-column: 1;
  grid-row: 1;
}

.page-header>nav>ul {
  grid-column: 2;
  grid-row: 1;
}

.page-header>nav>.button_container {
  grid-column: 2;
  grid-row: 2;
  visibility: hidden;
}

.page-header>nav>.overlay {
  grid-column: 2;
  grid-row: 3;
  visibility: hidden;
}

/* header styles */
.page-header>nav {
  margin: 0 10px;
}

.page-header>nav>ul {
  justify-self: end;
  height: 100%;
  margin-block-end: 0;
}

.page-header>nav>ul,
.page-header>nav>ul>li {
  height: 100%;
}

.page-header>nav>ul>li {
  display: inline-flex;
  align-content: stretch;
}

.page-header nav li>a {
  padding: 0 10px 0 10px;
  display: flex;
  align-items: center;
}

.page-header nav li>a.active {
  background-color: #F4CE14;
}

.page-header nav a,
.page-footer a {
  /* Also applies to burger menu */
  /* Use .page-header>nav>a to exclude burger menu */
  text-decoration: none;
  color: black;
}

/* Footer */
.page-footer>div {
  grid-template-columns: 1fr 1fr 1.2fr 1fr;
}

.footer-col {
  display: grid;
  grid-template-rows: 2.5lh auto;
  align-items: start;
}

.page-footer>a>img {
  width: 100%;
}

.page-footer ul {
  /* navigation and social media links */
  padding-left: 0;
  margin-top: 0;
}

.page-footer h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* Common Settings */
.container.cta-order>.content,
.container>.testimonials,
.container.history>.content,
footer.container {
  margin-top: 50px;
}

.container>.content.under-construction>p {
  text-align: justify;
}

/* CTA / Hero */
.container.hero {
  background-color: #495E57;
  margin-bottom: 100px;
}

.container.home.hero>.content {
  grid-template-columns: 430px 430px;
  grid-template-rows: 340px;
  column-gap: 0;
  row-gap: 0;
  background-color: #495E57;
  border: 0;
  justify-content: space-between;
  align-items: start;
}

.cta-reserve {
  display: grid;
  justify-items: start;
  grid-column: 1;
  grid-row: 1;
  padding-right: 30px;
  margin-top: 20px;
  width: 65%;
}

.content.main-article {
  justify-items: start;
  margin-top: 20px;
  gap: 0;
}

.container.home.hero>.content>img {
  grid-column: 2;
  width: 100%;
  height: 440px;
  justify-self: end;
  overflow: auto;
  margin: 20px 0 -100px 0;
  object-fit: cover;
}

.container.cta-order>.content {
  padding-bottom: 20px;
}

section.container.cta-order {
  padding-bottom: 20px;
}

.content.testimonials>h1 {
  margin-bottom: 30px;
}

/* Specials */
.container.cta-order>.content>.dish-cards {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
}

/* "This week's specials!" "Online Menu" */
.grid-stretched-row {
  display: grid;
  gap: 0;
  justify-content: space-between;
  align-items: start;
  grid-template-columns: auto auto;
  padding: 0;
  margin-bottom: 20px;
  width: 100%;
}

.dish-card {
  display: grid;
  gap: 20px;
  justify-content: space-between;
  align-items: stretch;
  grid-template-rows: auto auto minmax(7lh, auto) auto;
  padding: 0 0 20px;
}

.dish-card .grid-stretched-row {
  width: auto;
}

.dish-card .dish-picture {
  width: 100%;
}

.dish-card>div,
.dish-card>p,
.dish-card>a {
  padding: 0 20px;
}

.dish-card>p {
  margin-block-end: 0;
}

.dish-card>a.order-link {
  align-self: end;
}

img.bicycle-icon {
  margin-left: 1ch;
}

/* Testimonials */
.container>.content.testimonials {
  grid-template-columns: 1fr;
}

.container>.content.testimonials>h1 {
  text-align: center;
}

.review-photo-name>img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}

.review-cards {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: stretch;
  padding: 0;
}

.review-card {
  display: grid;
  grid-template-rows: auto auto minmax(4lh, auto);
  column-gap: 0;
  row-gap: 10px;
  justify-content: space-between;
  align-items: start;
  padding: 10px;
  background-color: #FBDABB;
}

.review-card>p {
  margin-block-end: 0;
}

.review-photo-name {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  column-gap: 10px;
}

.container.history>.content {
  justify-content: space-between;
  align-items: start;
  padding-top: 20px;
  padding-bottom: 20px;
  grid-template-columns: 3.5fr 0.5fr 4fr;
  row-gap: 10px;
}

.container.history>.content>img {
  width: 100%;
}

/* For medium screen sizes: 481 - 880px */
@media only screen and (max-width: 880px) {

  /* General settings */
  .container {
    grid-template-columns: 1fr;
  }

  .content {
    grid-column: 1;
  }

  /* Header */
  .page-header>nav {
    grid-template-columns: 1fr minmax(35px, auto);
  }

  .page-header>nav>a {
    padding-right: 10px;
  }

  .page-header>nav>a>img {
    margin-left: 0;
  }

  .page-header>nav>.button_container {
    grid-row: 1;
    grid-column: 2;
    /* Ensure that burger menu is aligned to the top right*/
    justify-self: end;
    align-self: start;
    margin-top: 20px;
    visibility: visible
  }

  .page-header>nav>.overlay {
    grid-column: 1/3;
    grid-row: 1;
    visibility: visible;
  }

  .page-header>nav>ul {
    grid-column: 1;
    grid-row: 3;
    visibility: hidden;
  }

  .page-header>nav>a>img {
    width: 100%;
  }

  /* Footer */
  .page-footer>div {
    grid-column: 1/2;
    grid-template-columns: 1fr 1fr;
  }

  .page-footer>div>a {
    /* Align the logo with
    the logo in the header */
    padding-right: 55px;
    grid-column: 1/3;
  }

  .page-footer>div>a>img {
    width: 100%;
  }

  .footer-col {
    grid-template-rows: auto auto;
    row-gap: 10px;
    margin-top: 30px;
  }

  /* Common settings */
  .container.hero>.content {
    grid-template-columns: 1fr;
  }

  /* CTA / Hero */
  .container.home.hero>.content {
    grid-template-columns: 1fr;
    grid-template-rows: auto 380px;
  }

  .cta-reserve {
    width: 100%;
  }

  .container.home.hero>.content>img {
    grid-column: 1;
    grid-row: 2;
    justify-self: start;
    max-width: 480px;
  }

  main>article>section.hero>div>article.cta-reserve,
  main>article>section.hero>div>article.main-article,
  main>article>section.hero>div>img {
    grid-column: 1;
  }

  /* Specials */
  .container.cta-order>.content>.dish-cards {
    grid-template-columns: 1fr;
  }

  .dish-card {
    grid-template-rows: auto auto minmax(3lh, auto) auto;
  }

  /* Testimonials */
  .review-cards {
    grid-template-columns: 1fr 1fr;
  }

  .review-card {
    grid-template-rows: auto auto minmax(4lh, auto);
  }

  /* History */
  .container.history>.content {
    grid-template-columns: 1fr;
    grid-template-rows: auto 0 auto;
  }
}

/* For small screen sizes: maximum 480px */
@media only screen and (max-width: 480px) {

  /* Hero */
  .container.home.hero>.content {
    grid-template-rows: auto auto 0;
  }

  /* Specials */
  .container.cta-order>.content>div.grid-stretched-row {
    grid-template-columns: auto;
    justify-content: start;
    width: 100%;
  }

  .container.cta-order>.content>div.grid-stretched-row>a {
    justify-self: start;
  }

  /* Testimonials */
  .review-cards {
    grid-template-columns: 1fr;
  }

  /* Footer */
  .page-footer>div {
    grid-template-columns: 1fr;
  }

  .page-footer>div>a {
    grid-column: 1;
  }
}

/* Burger menu */
/* Adapted from https://codepen.io/KingKabir/pen/QyPwgG */
/* Converted from jQuery to React, */
/* and made some other customizations */

.button_container {
  position: relative;
  /* fixed */
  /* top: 5%;
  right: 2%; */
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
}

.button_container:hover {
  opacity: 0.7;
}

.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  /* background: #FFF; */
  background: #495E57;
}

.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}

.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  /* background: #FFF; */
  background: #495E57;
}

.button_container span {
  /* background: #1abc9c; */
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}

.button_container span:nth-of-type(2) {
  top: 11px;
}

.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  /* background: #1abc9c; */
  /* top: 0; */
  top: 55px;
  /* 0 */
  right: 0;
  /*left: 0;*/
  width: auto;
  /*100%;*/
  /* add padding */
  /* padding: 50px 20px 10px 10px; */
  padding: 20px 20px 10px 10px;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
}

.overlay.open {
  opacity: 0.9;
  visibility: visible;
  height: auto;
  /* 100% */
}

.overlay.open li {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}

.overlay.open li:nth-of-type(2) {
  animation-delay: 0.4s;
}

.overlay.open li:nth-of-type(3) {
  animation-delay: 0.45s;
}

.overlay.open li:nth-of-type(4) {
  animation-delay: 0.5s;
}

.overlay.open li:nth-of-type(5) {
  animation-delay: 0.55s;
}

.overlay.open li:nth-of-type(6) {
  animation-delay: 0.6s;
}

.overlay.open li:nth-of-type(7) {
  animation-delay: 0.65s;
}

.overlay nav {
  position: relative;
  height: auto;
  /* 70%; */
  /* top: 50%; */
  /* transform: translateY(-50%); */
  font-size: 18px;
  /* font-family: "Varela Round", serif; */
  font-weight: 400;
  text-align: left;
  /*center;*/
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.overlay ul li {
  display: block;
  /* height: calc(100% / 4); */
  min-height: 18px;
  position: relative;
  opacity: 0;
}

.overlay ul li a {
  display: block;
  position: relative;
  /* color: #FFF; */
  text-decoration: none;
  overflow: hidden;
}

.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
  width: 100%;
}

/* .overlay ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  transition: 0.35s;
} */

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}